.wrapper
	padding: 50vh 0

	.image
		margin: 0 0 0 200px
		padding: 20px
		width: 500px
		background: #222
		box-shadow: 0 5px 10px rgba(0,0,0,0.1)

		div
			margin: 0 0 20px
			color: white
			font-size: 40px
			font-weight: bold

		img
			width: 100%
			//filter: saturate(0.5)
