.wrapper
	min-height: 100vh
	pointer-events: none

	.panel
		position: fixed
		bottom: 30px
		left: 70px
		width: calc(100vw - 110px)
		height: 40vh
		background: white
		border: solid 5px black
		opacity: 0
		transform: translateY(100%)
		transition-duration: 0.5s

		&.active
			opacity: 1
			transform: translateY(0)
