.wrapper
	position: fixed
	top: 100px
	left: 50px
	width: calc(100vw - 100px)
	height: calc(100vh - 150px)
	background: rgba(230,230,230,0.95)
	border-radius: 10px

	h1
		margin: 30px
		font-size: 30px

	p
		margin: 20px 30px

@media all and (max-width: 760px)

	.wrapper
		left: 30px
		width: calc(100vw - 60px)

		h1
			font-size: 26px
