.wrapper
	position: relative
	padding: 75vh 0 100vh

	.panel
		position: relative
		margin: 0 100px 0 auto
		padding: 30px
		width: 500px
		background: black
		color: white
		font-size: 30px
		transform: scale(0) translateY(-50%)
		opacity: 0
		transition-duration: 0.5s

		&.active
			opacity: 1
			transform: scale(1) translateY(-50%)

