.wrapper
	position: relative
	height: 100vh

	.panel
		position: absolute
		top: 50%
		left: calc(50% - 280px)
		padding: 30px
		width: 500px
		background: black
		color: white
		transform: scale(0) translateY(-50%)
		opacity: 0
		transition-duration: 0.5s

		&.active
			opacity: 1
			transform: scale(1) translateY(-50%)

