.wrapper
	display: none
	flex-direction: column
	position: fixed
	z-index: 10000
	top: 0
	left: 0
	padding: 0 30px
	width: calc(100% - 60px)
	height: 100%
	background: #222
	color: white
	//align-items: left
	justify-content: center

	&.active
		display: flex

	.text
		margin: 0 0 30px
		font-size: 25px
		font-weight: normal

		.welcome
			margin: 0 0 5px

	button
		display: inline-block
		margin: 0 0 30px
		padding: 0
		width: 150px
		border: none
		border-radius: 5px
		color: black
		font-weight: bold
		line-height: 40px
		-webkit-appearance: none


	.decline
		color: #888
		font-size: 0.9em
		font-weight: bold
		text-decoration: underline
