.wrapper
	position: fixed
	z-index: -1
	top: 50%
	right: 50px
	text-align: right
	transform: translateY(-50%)

	.title
		margin: 0 0 20px
		font-size: 200px
		font-weight: bold
		color: #030303
		line-height: 80%
		text-transform: uppercase
		opacity: 0.5

	.client
		position: relative
		z-index: 1
		margin-right: 20px
		color: #888
		font-weight: bold
