.wrapper
	position: fixed
	z-index: 9000
	top: 90px
	left: 30px
	height: 100px
	width: 30px
	//background: rgba(15, 100, 90, 1)
	background: #222
	border-radius: 15px
	//box-shadow: 0 5px 10px #ccc
	opacity: 0
	transition: opacity 0.5s, height 0.7s cubic-bezier(0.9,0,0.1,1) 0.3s

	.inner
		position: absolute
		top: 5px
		left: 0
		height: calc(100% - 11px - 15px) // margins and dot size

	.cap
		position: absolute
		top: 0
		left: 2px
		width: 11px
		height: 2px
		background: black

		&:nth-child(2)
			top: auto
			bottom: 0

	.line
		position: absolute
		top: 15px
		left: 14.5px
		height: calc(100% - 30px)
		//background: #eee
		border-left: dotted 1px #888

	.track
		position: absolute
		top: 5px
		left: 0
		height: calc(100% - 15px)
		width: 15px
		//background: rgba(10, 100, 100, 0.1)

		.dot
			position: absolute
			top: 0
			left: 7px
			width: 11px
			height: 11px
			background: white
			border: solid 2px black
			border-radius: 50%

	&.active
		opacity: 1
		height: calc(100% - 90px - 40px)


@media all and (max-width: 760px)

	.wrapper
		left: 0
		border-radius: 0 5px 5px 0
		width: 24px

		.line
			left: 11px

		.track

			.dot
				left: 5px
				width: 9px
				height: 9px
