.wrapper
	position: fixed
	z-index: 9000
	top: 90px
	left: 30px
	height: calc(100% - 90px - 40px)
	width: 30px
	background: rgba(15, 100, 90, 1)
	border-radius: 15px
	box-shadow: 0 5px 10px #ccc

	.inner
		position: absolute
		top: 5px
		left: 0
		height: calc(100% - 11px - 15px) // margins and dot size

	.cap
		position: absolute
		top: 0
		left: 2px
		width: 11px
		height: 2px
		background: black

		&:nth-child(2)
			top: auto
			bottom: 0

	.line
		position: absolute
		top: 15px
		left: 14px
		height: calc(100% - 30px)
		//background: #eee
		border-left: dashed 2px #ccc

	.track
		position: absolute
		top: 5px
		left: 0
		height: calc(100% - 15px)
		width: 15px
		//background: rgba(10, 100, 100, 0.1)

		.dot
			position: absolute
			top: 0
			left: 7px
			width: 11px
			height: 11px
			background: white
			border: solid 2px black
			border-radius: 50%
