.wrapper
	position: absolute
	z-index: 100
	top: 0
	left: 0
	width: 30px
	height: 100%
	background: repeating-linear-gradient(to bottom, rgba(255,255,255,0) 49px, #555 50px, rgba(255,255,255,0) 51px, rgba(255,255,255,0) 100px)
