.webgl
	position: fixed
	z-index: 0
	top: 0
	left: 0
	width: 100vw
	height: calc(100vh - 80px)
	background: none
	transition-duration: 0.5s

	&.left
		transform: translateX(-25%)

	&.right
		transform: translateX(25%)
